*{
 font-family: "Roboto", sans-serif;
 font-weight: 400;
 font-style: normal; 
 text-decoration: none; 
}
h1,h2,h3{
font-family: "Electrolize", sans-serif;
font-weight: 800;
font-style: normal;
color: rgb(12, 11, 11);
}
body{
      margin: 0px 5px;
      position: relative;
}
nav{
     
      background-color: rgba(229, 208, 19, 0.877);
    display: flex;
    
    justify-content: space-between;
    align-items: center;
      
      
 }
.Logo{
      width: 100px;
      height: 100px;
    
         
}
.nav-list{
      
     color: white;
     margin-right: 15px;
     display: flex;
     justify-content: space-between;
     align-items: center;
}
nav a {
      text-decoration: none;
     list-style-type: none;
     color: white;

}


.figlio{
      list-style: none;
     margin: 0px 30px;
      width: 120px;
     height: 30px;
     display: flex;
     justify-content: center;
     align-items: center;
     text-transform: uppercase;
     text-
    
     
  }

.figlio:hover{
      transform: scale(1.2);
      border: 3px solid rgb(10, 10, 10);
      border-top: 3px solid red;
      border-left: 3px dashed green;
      border-right: 3px dashed green;
}

main{
      display: flex;
      align-items: center;
}

.intestazione{ 
      background-color: #EEEDED;
      border-radius: 30px;
      margin-top: 60px;
      display: flex;
      width: 100%;
      flex-direction: column;
      text-transform: uppercase;
      
       }
#evidenza{
      margin-top: 25px;
      text-transform: uppercase;
     
      text-align: center;
}
header a {
      list-style: none;
      color: rgb(93, 90, 90);
}
img{
      width: 100%;
      height: auto;
}
.botton-article{
      background-color: black;
      color: white;
      border-radius: 50px;
      padding: 5px;
      text-transform: uppercase;
}
.botton-article:hover{
background-color: yellow;
border: 2px solid black;
color: black;
}
section{
      
      height: 70vh;
      width: 60%;
     display: flex;
    
     align-items: center;
     margin: 35px;
}
article{
      background-color: rgba(128, 128, 128, 0.313);
      border: 2px solid black;
      border-radius: 15px;
      width: 30%;
      padding: 10px;
      height: 90%;
      
}
.flex-article{
      display: flex;
      flex-direction: column;
      align-items: center;
     
      margin-right: 50px;
}
article a {
      list-style: none;
      color: white;
     
}
article a:hover{
      color: black;
}

aside{
  background-color: rgba(229, 208, 19, 0.877);    
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  height: 65vh;
  border: 1px solid black;
  border-radius: 15px;
  text-align: center;
  
  
}
.button-up{
      position: fixed;
      height: 30px;
      width: 30px;
      right: 10px;
      bottom: 10px;
      transition: 0.5s;      
}

.button-up:hover{
     transform: scaleX(-1);
     transform: scaleY(-1);
    
     
}
/* footer{
      background-color: grey;
      display: flex;
      position: relative;
      
      
    
    

}
footer a{
      
      color: white;
      text-decoration: none;
}
.footerbox{
      display: flex;
      position: relative;
     
      flex-direction: column;
     
      
    
}
#corsi{
      
      width: 30%;
      height: 200px;
      position: relative;
      left: 100px;
      margin: 35px;
      border: 2px solid rgb(199, 218, 55);
      align-items: center;
      flex-direction: column;
      
    
     
}
     

#guide{
      width:30%;
      height: 200px;
      position: relative;
      left: 200px;
      margin: 35px;
      border: 2px solid rgb(199, 218, 55);
      align-items: center;
      flex-direction: column;
      
     
    
  
}

.footerfiglio{
      margin: 10px;
       list-style-type: none;
      flex-direction: column;
      
      
         
} */

@media screen and (min-width:160px) and  (max-width:660px) 
{
      body{
            width: 100%;
            position:inherit;
            margin-right: 0px;
            padding: 0px;
        
      }
      nav{
            width: 100%;
            display: flex;
            position: relative;
            align-items: flex-start;
            margin: 0px;
          
      
       
      }

      .Logo{
            width: 70px;
            height: 90px;
            margin: 4px;
      display: flex;
      position: absolute;
      
      
      }
      .nav-list{
            display: inline;
            position: relative;
            flex-direction: column; 
            align-items: l;
            
      }
      .figlio{
            margin: 3px;
            width: auto;
            height:13px;
            position: relative;
            left: 60%;
            
            justify-content: center;
       
         
      }
    
main{
display:list-item;
position: relative;
justify-content: center;
  padding: 0px;   
}
.intestazione{
      width: 100%;
      margin-right: 0px;
      
}
#evidenza{
      width: 50px;
      
      display: flex;
     text-transform: lowercase;
}
section{
      display: list-item;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-items: center;
      margin: 0px;
      position: relative;
     

}
article{
      display: list-item;
      width: 60% ;
      height: auto;
      padding: 7px;
      flex-direction: column;
      margin-bottom: 25px;
      
      position: relative;
}
  aside{
    display: flex;
    margin-top: 0px;
   position: absolute;
   left: 50%;
      padding: 0px;
         height: auto;
      align-items: center;
      justify-content: center;
      
}
.button-up{
      position: fixed;
      height: 15px;
      width: 15px;
    /* margin-right: 70px; */
    display: flex;
    left: 70%;
      bottom: 10px; 
      transition: 0.5s;    
      align-items: end;
      justify-content: center;
}


 }